
body {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,126,255,1) 100%);
  padding: 12px;
  }
  
  /* overskrift h1 design */
  h1{
  font-style:bold;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFEA8C;
  text-align: center;
  }
  
  .Titel{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  }
  
  h2{
    color: white;
  }
  
  p{
    color: white;
  }
  
  ul{
    color: #FFEA8C;
  }
  
  a{
    color: #FFEA8C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
  }
  
  .Main1{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 3px;
  border: 5px;
  border-color: black;
  border-style: solid;
  }
  
  pre{
    background-color: lightgray;
  }
  
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 1px 1px 100px;
    transition: transform .2s;
  border-radius: 3px;
  }
  
  img:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  /* Navbar */
  .navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial;
  }
  
  /* Links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
